* {
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: 'Sansita Swashed', cursive;
  width: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  background: url('../src/assets/background.jpg')
}